// .css-1gyr8kh{
//     width: 100% !important;
// }
.inputfield {
  width: 100%;
  //    height: 50px;
  padding: 0px 14px;
  border: none;
  outline: none;
  font-size: 16px;
}
.labels {
  padding-left: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 15.1004px;
  line-height: 20px;

  color: #0172b6;
}
.desc-input{
   // font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
font-size: 11.3253px;
line-height: 15px;
/* identical to box height */


color: rgba(0, 0, 0, 0.31);
}
// .css-md26zr-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{

// }
