@import "../../../theme/fonts/index.scss";

.media-design-section {
  width: 100%;
  background-color: #e5e5e5;
  font-family: $fontFamily;
  padding: 40px 0px;
  .nested-media {
    width: 80%;
    margin: 0 auto;

    .media-heading {
      h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 57px;
        text-align: left;
        letter-spacing: 0.01em;
        cursor: pointer;
        color: #2d343a;
        text-transform: uppercase;
        text-align: center;
      }
    }
    .news {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 12px;
      .actual_news {
        img {
          border-radius: 8px;
          width: 250px;
          height: 110px;
        }
      }
      @media (max-width: 668px) {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        .actual_news {
            margin: 0 auto;
          img {
            width: 180px;
            // margin: 0 auto;
          }
        }
      }
    //   @media (max-width:425px) {
    //     grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    //     .actual_news {
    //         margin: 0 auto;
    //       img {
    //         // width: 180px;
    //         // width: 100%;
    //         // width: 250px;
    //         // height: 250px;
    //         // margin: 0 auto;
    //       }
    //     }
    //   }
    }

    @media (max-width: 768px) {
      width: 100%;
      padding: 0px 20px;
    }
  }
}
