@import "../../../theme/fonts/index.scss";
.product-page {
  width: 100%;
  background-color: #e5e5e5;
  font-family: $fontFamily;
  padding: 40px 0px;
  .section-one {
    h1 {
      font-style: normal;
      font-weight: 700;
      font-size: 42px;
      line-height: 57px;
      text-align: left;
      letter-spacing: 0.01em;
      cursor: pointer;
      color: #2d343a;
      text-transform: uppercase;

    }
  }
  .content-product, .ecommerce{
    h2{
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 57px;
      text-align: left;
      letter-spacing: 0.01em;
      cursor: pointer;
      color: #2d343a;
      text-transform: uppercase;
    }
    .products_links{
      // display: flex;
      // justify-content: space-between;
      // align-items: center;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 16px;
      @media (max-width:768px) {
        // flex-wrap: wrap;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));

}
    }
    
}
.ecommerce, .heading-retail{
  margin: 20px 0px;
  span{
    font-size: 18px;
    text-align: left;
  }
}
  .netsed-product {
    width: 80%;
    margin: 0 auto;
    @media (max-width: 768px) {
      width: 100%;
      padding: 0px 20px;
    }
  }
}
