.main-header {
  display: flex;
  flex: 1;
  background-color: rgba(246, 246, 248, 1);
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  @media screen and (max-width: 600px) {
    justify-content: space-between;
  }
  &__logo {
    width: 105px;
    height: 38.5px;
    margin: 0 auto;
  }
  &__sideitem {
    display: flex;
    align-items: center;
    &--subitems {
      display: flex;
      align-items: center;
      margin: auto 50px;
      @media screen and (max-width: 600px) {
        margin: auto 20px;
      }
      .number {
        padding: 5px;
        background-color: #51ce94;
        color: white;
        display: flex;
        text-align: center;
        font-size: 14px;
      }
    }
  }
  .bar-box {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 10px;
    margin-left: 200px;
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @media screen and (max-width: 600px) {
      margin-left: 10px;
    }
    @media screen and (max-width: 400px) {
      margin-left: 4px;
    }
    cursor: pointer;
    &__line--1 {
      width: 20px;
      height: 4px;
      background-color: white;
      margin-top: 3px;
      border-radius: 4px;
    }
    &__line--2 {
      width: 30px;
      height: 3.5px;
      background-color: white;
      margin-top: 6px;
      border-radius: 4px;
    }
    &__line--3 {
      width: 15px;
      height: 4px;
      background-color: white;
      margin-top: 6px;
      border-radius: 4px;
    }
  }
  .map-dash-header {
    background: #f0f0f3;
    box-shadow: -13.125px -13.125px 39.375px #ffffff,
      13.125px 13.125px 39.375px rgba(174, 174, 192, 0.4);
    border-radius: 14.4375px;
    padding: 8px;
    column-gap: 6px;
    width: 170.38px;
    height: 52px;
    :first-child {
      width: 94px;
      height: 30px !important;
    }
    .active {
      background: #f0f0f3;
      box-shadow: inset -10.5px -10.5px 21px #ffffff,
        inset 10.5px 10.5px 21px #d0d3d7;
      border-radius: 10.5px;
      padding: 6px;
      width: 94.5px;
      height: 40.25px !important;
    }
    @media screen and (max-width: 400px) {
      width: 115.38px;
    }
  }
}
